# Casper Testnet RPC node address
ODRA_CASPER_LIVENET_NODE_ADDRESS=http://3.140.179.157:7777/rpc

# Casper Testnet event stream address
ODRA_CASPER_LIVENET_EVENTS_URL=http://3.140.179.157:9999/events/main

# Chain name of the network (casper-test for testnet)
ODRA_CASPER_LIVENET_CHAIN_NAME=casper-test

# Path to the secret key of the account that will be used
# to deploy the contracts.
# Generate keys at: https://keys.casper.network/
# Fund your account at: https://testnet.cspr.live/tools/faucet
ODRA_CASPER_LIVENET_SECRET_KEY_PATH=./keys/secret_key.pem

# Optional: additional accounts
# ODRA_CASPER_LIVENET_KEY_1=./keys/user-2-secret_key.pem
