# port for API server
HTTP_PORT=4000

# CSPR.cloud configurations
CSPR_CLOUD_URL="https://api.testnet.cspr.cloud"
CSPR_CLOUD_STREAMING_URL="wss://streaming.testnet.cspr.cloud"

# Use your access key here, this is a demo one with low quotas
CSPR_CLOUD_ACCESS_KEY="55f79117-fc4d-4d60-9956-65423f39a06a"

# The contract package hash of the AgentNetwork smart contract deployed on testnet
# This will be set after deploying the contract via `cargo odra deploy`
CONTRACT_PACKAGE_HASH=<DEPLOY_AND_PASTE_HASH_HERE>

# Database Creds (shared with app/docker-compose.yaml MySQL)
DB_URI=mysql://deagentnet:passw0rd@localhost:3306/deagentnet

TZ=UTC
